{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Couleur</th>
                <th>Kilometrage</th>
                <th>Immatriculation</th>
                <th>Carburant</th>
                <th>Chevaux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.marque }}</td>
                <td>{{ car.modele }}</td>
                <td>{{ car.couleur }}</td>
                <td>{{ car.kilometrage }}</td>
                <td>{{ car.immatriculation }}</td>
                <td>{{ car.carburant }}</td>
                <td>{{ car.chevaux }}</td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}">Create new</a>
{% endblock %}
