{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireController!{% endblock %}

{% block body %}

    <header>
        <h1>TITRE1</h1>
        <nav>
            <a href="{{ url('index') }}">accueil</a>
            <a href="{{ url('contact') }}">contact</a>
            <a href="{{ url('app_register') }}">register</a>
            <a href="{{ url('app_login') }}">login</a>
            <a href="{{ url('app_logout') }}">logout</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>CONTACT</h2>
        </section>
    </main>
    <footer>
        <p>tous droits réservés</p>
    </footer>

{% endblock %}
